* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ddd;
    font-family: 'Segoe UI';
}

.timer-parent {
    margin: 100px auto;
    text-align: center;
    color: #444;
}

.timer-parent>:last-child {
    margin-top: 15px;
    font-size: 3em;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.button-box>button {
    background: #0078AA;
    border-radius: 8px;
    padding: 10px 3px;
    transition: 0.2s;
    width: 100px;
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.4em;
    margin: 0 5px;
}

.button-box>button:hover {
    background: #1363DF;
}

.button-box>:last-child {
    background: #F15412;
}

.button-box>:last-child:hover {
    background: #E83A14;
}