* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ddd;
    font-family: 'Segoe UI';
}

.timer-parent {
    padding: 0 30px;
    margin: 80px auto;
    text-align: center;
    color: #444;
}

.timer {
    user-select: none;
    cursor: pointer;
}

.timer-parent>.timer-box {
    margin-top: 15px;
    font-size: 3em;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.button-box>button {
    border-radius: 8px;
    padding: 10px;
    transition: 0.2s;
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.4em;
    margin: 0 5px;
}

.button-box>.start,
.button-box>.stop {
    background: #0078AA;
    width: 100px;
}

.button-box>.start:hover,
.button-box>.stop:hover {
    background: #1363DF;
}

.button-box>.reset {
    background: #F15412;
    width: 100px;
}

.button-box>.reset:hover {
    background: #E83A14;
}

.button-box>.change-background.dark {
    background: #444;
    color: #fff;
    transition: 0.2s;
}

.button-box>.change-background.light {
    background: #fff;
    color: #444;
    transition: 0.2s;
}

.time-list-box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.time-item-box {
    padding: 10px 20px;
    flex-basis: 25%;
}

.time-item {
    display: block;
    background: #fff;
    color: #444;
    padding: 5px 10px;
    font-size: 1.3rem;
    border-radius: 8px;
    box-shadow: 0 0 3px 0 inset #777;
    cursor: pointer;
}